.cart {
    width: 200px;
    height: 300px;
    background-color: rgb(233, 117, 54);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    padding: 5px 10px;
    margin: 0px;
}

.cart>h3 {
    text-align: center;
}

.cart>p {
    margin: 0px;
    text-align: center;
}

.b1 {
    background-color: rgb(197, 50, 24);
    height: 5vh;
    width: 5px;
    border: 1px solid black;
    font-size: 14px;
}

.b2 {
    background-color: rgb(227, 35, 35);
    border: 1px solid black;
    font-size: 14px;
}

.button {
    width: 100%;
    text-align: center;
}